<div class="row">
	<div class="span3a">
		<img src="step1.png", alt="Invite friends to activity" height="177" width="226">
		<h1>
			Invite friends
		</h1>
		<h2>
			Specify how many people are needed for activity to take off
		</h2>
	</div>
	<div class="span3a">
		<img src="step2.png", alt="Bloon polls interest" height="177" width="226">
		<h1>
			Bloon polls interest
		</h1>
		<h2>
			Friends who are interested can easily join via text or email
		</h2>
	</div>
	<div class="span3a">
		<img src="step3.png", alt="If enough join, it’s on!" height="177" width="226">
		<h1>
			If enough join, it’s on!
		</h1>
		<h2>
			Participants are put in a group chat to finalize details
		</h2>
	</div>
</div

