<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	<div class="modal-body">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <%= render partial: 'static_pages/how' %>
    </div>
  </div>
</div>
