<div class="row bg-f8">
  <div class="col-md-12 padding-lr-15 step-header">How Bloon works</div>
</div>
<div class="row bg-f8 step">
	<div class="not-logged-in-1000">			  
		<div class="col-md-4">
			<div>&#9312; Create a Bloon</div>
		  	<%= image_tag("step1mjh.png", id: "", alt: "Illustrations by Mei-Jean Hsu") %>
		</div>			  
		<div class="col-md-4">
		  	<div>&#9313; Friends polled via SMS</div>
		  	<%= image_tag("step2mjh.png", id: "", alt: "Illustrations by Mei-Jean Hsu") %>
		</div>
		<div class="col-md-4">
		  	<div>&#9314; If enough friends join, it's on!</div>
		  	<%= image_tag("step3mjh.png", id: "", alt: "Illustrations by Mei-Jean Hsu") %>
		</div>
	</div>
</div>