<div class="row">
	<div class="span3a why">
		<h1>
			No sweat organizing
		</h1>
		<h2>
			No need to chase down each invitee over email, text, or IM to get a response. Bloon reaches out to them on your behalf to see if they're interested
		</h2>
	</div>
	<div class="span3a why">
		<h1>
			Join without hesitation
		</h1>
		<h2>
			Avoid that awkward period when no one wants to be the 2nd person to commit to an activity. With Bloon, an activity won't happen until enough people join
		</h2>
	</div>
	<div class="span3a why">
		<h1>
			Group chat for joiners
		</h1>
		<h2>
			If enough invitees join, Bloon puts just the participants into a group chat so they can figure out the details without spamming others
		</h2>
	</div>
</div

