<div class="row bg-white">
	<div class="not-logged-in-800 why">			  
		<div class="one-row">
			<div class="col-md-7 padding-lr-15">
			  	<div class="why-header">See if there's enough interest</div>
			  	<p>Make sure enough friends committed, because some activities just aren’t worth doing without enough people.</p>
			</div>
			<div class="col-md-5">
			  	<%= image_tag("why_section-01.png", alt: "Illustrations by Mei-Jean Hsu") %>
			</div>			  
		</div>
		<div class="one-row">
			<div class="col-md-7 padding-lr-15 float-right">
			  	<div class="why-header">Quickly poll via SMS</div>
			  	<p>Ask friends whether they’d like to join a Bloon via SMS. No need to ask everyone individually over email, text, and IM.</p>
			</div>
			<div class="col-md-5 float-left">
			  	<%= image_tag("why_section-02.png", alt: "Illustrations by Mei-Jean Hsu") %>
			</div>			  
		</div>
		<div class="one-row">
			<div class="col-md-7 padding-lr-15">
			  	<div class="why-header">Automatic group chat</div>
			  	<p>Friends who accept will be placed into a group chat over SMS to finalize details and keep the group up-to-date.</p>
			</div>
			<div class="col-md-5">
			  	<%= image_tag("why_section-03.png", alt: "Illustrations by Mei-Jean Hsu") %>
			</div>			  
		</div>		
	</div>
		<br><br><br>
		<section>
			<%= render 'users/new' %>
		</section>

</div>