<div class="page-title-2">Why use Bloon?</div>
<div class="row why-all">
	<div class="why-section">
		<i class="fa fa-rocket fa-4x"></i>
		<div class="why-title">
			Get faster responses
		</div>
		<div class="why-desc">
			Set a minimum number of participants needed so no one will hesitate to join
		</div>
	</div>
	<div class="why-section">
		<i class="fa fa-check-square-o fa-4x"></i>
		<div class="why-title">
			Poll when and where
		</div>
		<div class="why-desc">
			Ask your friends to vote on when, where & what so you don't have to figure it all out
		</div>
	</div>
	<div class="why-section">
		<i class="fa fa-calendar-o fa-4x"></i>
		<div class="why-title">
			Finalize plans
		</div>
		<div class="why-desc">
			Send a calendar invitation so no excuses for being late or forgetting
		</div>
	</div>
	
	<div class="why-section">
		<i class="fa fa-comments-o fa-4x"></i>
		<div class="why-title">
			Group chat
		</div>
		<div class="why-desc">
			Keep each other updated on last minute changes or if you're running late
		</div>
	</div>
	<h2 class="desc-front blurb">
		<a href="<%= '/how' %>">How it works</a>
	</h2>
</div>
