<% if signed_in? %>
	<div class="row">
		<aside class="span4 left-side">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
			<%= render 'shared/gather_form' %>
		</section>
		</aside>
		<div class="span4 feed">
			<%= render 'shared/feed' %>
		</div>
		<div class="span2"></div>
	</div>
<% else %>
	<div class="center span6 hero-unit">
		<h1>Welcome to Bloon</h1>
		
		<h2>Effortlessly organize activities to spend more time with friends</h2>

		<p>Interested? Get on our waitlist!</p>
			<%= render 'wait_list/new' %>
	</div>
<% end %>