<% provide(:title, 'Forgot Password?') %>
<div class="center hero-unit">
	<h2>Enter your email and we'll send you a link to reset your password</h2>
			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<%= f.text_field :email, placeholder: "Email" %>
				<%= f.submit "Reset Password", class: "btn btn-block btn-invite" %>
			<% end %>
</div>
