<% provide(:title, 'Forgot Password?') %>
<div class="row">
	<div class="span6 offset3">
		
		<p>Enter your email and we'll send you a link to reset your password</p>

		<%= form_tag password_resets_path, :method => :post do %>
		  <div class="field">
		    <%= label_tag :email %>
		    <%= text_field_tag :email, params[:email] %>
		  </div>
		  <div class="actions"><%= submit_tag "Reset Password" %></div>
		<% end %>
 	</div>
</div>