<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Look out for an email invite in the next 24 hours - we can't wait to have you join!
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>
