<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Bloon!</h2>
    <p>
      To finishing signing up, just <%= link_to "click here", @url %>.
    </p>
    <p>
      Thanks for joining and please send any feedback you have to hello@bloon.us!
    </p>
  </body>
</html>
