<% provide(:title, 'Join!') %>
<div class="row">
	<div class="center center-span span4 hero-unit-2">
		<h2 class="welcome-front">Welcome to</h2>
		<h1 class="logo-front">Bloon</h1>
		
		<h2 class="desc-front">Effortlessly organize casual activities to spend more time with friends</h2>
	</div>
</div>