<% provide(:title, 'Join!') %>
<div class="row">
	<div class="center center-span span4 hero-unit-2">
		<h1>Welcome to BLOON</h1>
		
		<h2>Effortlessly organize activities to spend more time with friends</h2>
	</div>
</div>