<% if @feed_items.any? %>
  <ol class="gathers">
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ol>
  <%= will_paginate @feed_items, :previous_label => nil, :next_label => nil, :inner_window => 0, :outer_window => 0 %>
<% end %>
<% if @feed_items.count < 3 %>
	<a href="#" id="how-does-bloon-work" data-toggle="modal" data-target=".bs-example-modal-lg"><div class="how_works">How does Bloon work?</div></a>
	<%= render partial: 'static_pages/how_modal' %>
<% end %>
