<div class="new-tabs">
		  <div class="tabs">
			<!-- <div class="misc-actions"> -->
				<ol>
					<li><a href="#tabs-new-gather" id="ga-new-gather-tab">New Activity</a>
					<!-- <li><a href="#tabs-new-list" id="ga-new-list-tab">New To-do</a> -->
				</ol>
			<!-- </div> -->

			<div id="tabs-new-gather">
				<%= render 'gathers/new' %>
				<div class="tab-form"></div>
			</div>
		</div>
</div>