	<li>Potluck on Saturday</li>
	<li>Wine tasting Fri night (everyone brings a bottle)</li>
	<li>Basketball this weekend</li>
	<li>Watch Grand Budapest Hotel tonight</li>
	<li>Board game night this week</li>
