<div class="row">
	<div class="span2aor3a">
	</div>
	<div class="span3aor4">
		<%= form_for(:wait_list, url: wait_lists_path) do |f| %>
			<%= f.text_field :email, placeholder: "Email" %>
			<%= f.submit "Add to waitlist", class: "btn btn-block btn-join btn-large" %>
		<% end %>
	</div>
	<div class="span2aor3a">
	</div>
</div



