@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	background: #FAFAFA;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;	
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: normal;
	line-height: 1;
	&:hover {
		color: #fff;
		text-decoration: none;
		letter-spacing: -2px;
		font-weight: bold;
	}
}

.navbar {
	margin-bottom: 0px;
}
.navbar .nav > li > a {
	color: white;
	text-shadow: 0 0 0;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	&:hover {
			color: #e6e6e6;
		}
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	vertical-align: top;
	&:hover {
		color: #e6e6e6;
	}

}
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: rgba(228,69,69,1);
	color: #FFFFFF;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
	background-color: rgba(228,69,69,1);
	color: #FFFFFF;	
}
.navbar-inner {
	background-color: rgba(228,69,69,1);
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
    	border-left: 1px solid $grayLighter;
    	color: gray;
    	&:first-child {
      		padding-left: 0;
      		border: 0;
    	}
	    &:hover {
	    	text-decoration: none;
	    	color: $blue;
	    }
  	}
  	strong {
    	display: block;
  	}
}

.user_avatars {
  overflow: auto;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input, select, .uneditable-input {
	padding: 10px;
}

textarea {
	padding: 5px;
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.btn {
	border: 0;
	border-radius: 1px;
//	padding: .9em 1.8em .8em;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 10px;
	text-shadow: none;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}

.btn-join {
	background: rgba(23,129,251,1);
	margin-top: 5px;
	border-bottom: 4px solid #0D509E;
	&:hover {
		background: #1472DF;
		border-bottom: 4px solid #0A3D79;
		color: #fff;
	}
}

.btn-joining {
	background: rgba(212,214,217,1);
	margin-top: 5px;
	border-bottom: 4px solid #ABB1B9;	
	&:hover {
		background: #B1B3B8;
		border-bottom: 4px solid #858A91;
		color: #fff;		
	}
}

.btn-invite {
	background: rgba(228,69,69,1);
	border-bottom: 4px solid #AF3333;
	&:hover {
		background: #C43939;
		border-bottom: 4px solid #882828;
		color: #fff;
	}
}

.btn-user-large {
//	display: block;
	height: 56px;
	width: 56px;
	background: rgba(108,196,29,1);	
	margin-bottom: 10px;
	border: 0;
	border-radius: 28px;
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	a {
		text-decoration: none;	
		color: #fff;
	}
}

.btn-user-small {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 5px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	a {
		text-decoration: none;	
	}
}

.btn-yes {
	background: rgba(108,196,29,1);	
	border-style: solid;
	border: 1px;
	color: rgba(108,196,29,1);	
	a {
		color: #fff;
	}
}

.btn-no {
	background: white;	
	border-style: solid;
	color: rgba(108,196,29,1);
	border-color: rgba(108,196,29,1);
	a {
		color: rgba(108,196,29,1);
	}
}

.caret {
	vertical-align: middle;
	border-top: 4px solid rgba(108,196,29,1);	
	border-right: 4px solid transparent;	
	border-left: 4px solid transparent;	
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}


/* gathers */
.feed {
	background: #EEEEEE;
}
.gathers {
  list-style: none;
  margin: 0px 0 0 0;
  li {
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    border-bottom: 3px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: white;
  }
}  
.activity {
	padding-bottom: 5px;
	display: block;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 2em;
	line-height: 1;
	color: #6C7270;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.tilt {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 1em;
	color: #6E7270;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.invited {
  display: block;	
}
.details {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.left-side {
	padding-top: 15px; // matches gathers li padding
}
aside {
  textarea {
    height: 80px;
    margin-bottom: 10px;
  }
}
.edit_invitation {
	margin: 0px 0px 0px 0px;
} // for the joining and join buttons
.name-big {
	padding-bottom: 0px;
	margin-top: 5px;
	display: block;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 2em;
	line-height: 1;
	color: #6C7270;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-stats {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 1em;
	color: #6E7270;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-info-margin {
	margin-left: 8px;
}
.make-white {
	color: white;
}