@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
	height: 100%;
}

body {
//	background: #FAFAFA;
	background-image: url("background.png"); //url(https://abs.twimg.com/images/themes/theme13/bg.gif);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #cce3f7;//#B2DFDA;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	min-height: 100%;
	color: #6C7270;
	-webkit-font-smoothing: antialiased;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;	
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;

}

h2 {
	font-size: 1.2em;
	letter-spacing: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1em;
	line-height: 1.7em;
}


/* header */
#logo {
	font-family: 'Montserrat Alternates',Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	float: left;
	margin-right: 10px;
	font-size: 2.3em;
	color: white;//#FF3300;//rgba(204,227,247,1);//#fff;
//	text-shadow: 1px 1px 0 rgba(23,129,251,1);	
	text-transform: lowercase;//none;
	letter-spacing: -1px;
	padding-top: 4px;
	font-weight: 800; //normal;
	line-height: 1;
	&:hover {
		color: #fff;
		text-decoration: none;
		padding-top: 3px;
	}
}
.logo-front {
	// color: #e44545;
	// text-shadow: -1px -1px 0px #FDFFFE;
	color: #e44556;//#FF3300;//#0087FF ;//#fff;
//	text-shadow: -1px -1px 0 white;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: 800;
	margin-top: 0px;
	font-size: 5em;
	font-family: 'Montserrat Alternates',Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
}
.navbar {
	margin-bottom: 0px;
}
.navbar .nav > li > a {
	color: white;
	font-weight: 200;
	font-size: 18px;
	text-shadow: 0 0 0;
	padding: 10px 0px 10px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	&:hover {
			color: #e6e6e6;
		}
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	vertical-align: top;
	&:hover {
		color: #e6e6e6;
	}

}
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #e44556;//#0087FF;//rgba(228,69,69,1);
	color: #FFFFFF;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
	background-color: #e44556;//#0087FF;//rgba(228,69,69,1);
	color: #FFFFFF;	
}
.navbar-inner {
	background-color: #e44556;//#0087FF;//rgba(228,69,69,1); background-image: -webkit-linear-gradient(bottom, rgb(255, 82, 0) 10%, rgb(255, 10, 0) 90%);
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	border-radius: 0px;
	border-bottom: 2px solid rgba(116,167,224,1)
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #555;
	color: #555;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
		color: #555;
		-webkit-font-smoothing: antialiased;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
    	border-left: 1px solid $grayLighter;
    	color: gray;
    	&:first-child {
      		padding-left: 0;
      		border: 0;
    	}
	    &:hover {
	    	text-decoration: none;
	    	color: $blue;
	    }
  	}
  	strong {
    	display: block;
  	}
}

.user_avatars {
  overflow: auto;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	margin-bottom: 15px;
	@include box_sizing;	
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
}

input[type="number"],
.uneditable-input {
  background-color: white;
  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  width: 84%;
  height: 40px;
}
input[type="time"],
input[type="date"],
.uneditable-input {
  background-color: white;
  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  width: 49%;
  height: 40px;
}
input[type="time"],
.uneditable-input {
  float: right;
  height: 40px;
}
#datepicker {
	  width: 49%;
}
#timepicker {
	  width: 49%;
}
.field-in-gather-org {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		background-color: rgba(224, 243, 208, 1);
	}
	input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	width: 100%;
	margin-bottom: 0px;
	background: rgba(224, 243, 208, 1);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@include box_sizing;
	}
}
.field-in-gather-no {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		background-color: rgb(231, 236, 240);
	}
	input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	width: 100%;
	margin-bottom: 0px;
	background: #DBEEFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@include box_sizing;
	}
}
input, select, .uneditable-input {
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 8px;
	.invited {
		height: 60px;
	}
}

input {
//	height: auto !important;

}
.gather-form {
	margin: 0px 10px 0px 10px;
}

.alert {
	margin-top: 20px;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.btn {
	border: 0;
	border-radius: 3px;
//	padding: .9em 1.8em .8em;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 10px;
	text-shadow: none;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}

.btn-join {
	background: rgba(23,129,251,1);
	margin-top: 5px;
	border-bottom: 4px solid #0D509E;
	&:hover {
		background: #1472DF;
		border-bottom: 4px solid #0A3D79;
		color: #fff;
	}
}

.btn-joining {
	background: rgba(108,196,29,1); //rgba(212,214,217,1);
	margin-top: 5px;
	border-bottom: 4px solid rgba(65, 117, 18, 1); //#ABB1B9;	
	&:hover {
		background: rgba(88, 161, 22, 1); //#B1B3B8;
		border-bottom: 4px solid rgba(48, 87, 13, 1); //#858A91;
		color: #fff;		
	}
}

.btn-invite {
	background: rgba(228,69,69,1);
	border-bottom: 4px solid #AF3333;
	&:hover {
		background: #C43939;
		border-bottom: 4px solid #882828;
		color: #fff;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
}
.btn-update-org {
	background: rgba(156, 211, 107, 1);
	border-bottom: 0px solid #AF3333;
	font-size: 14px;
	padding: 8px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	&:hover {
		background: rgba(134, 201, 75, 1);
		border-bottom: 0px solid #882828;
		color: #fff;
	}
}
.btn-update-no {
	background: #77C2FF;
	border-bottom: 0px solid #AF3333;
	font-size: 14px;
	padding: 8px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	&:hover {
		background: #47ACFF;
		border-bottom: 0px solid #882828;
		color: #fff;
	}
}
.caret {
	vertical-align: middle;
	border-top: 4px solid rgba(108,196,29,1);	
	border-right: 4px solid transparent;	
	border-left: 4px solid transparent;	
}
.no-link-decoration {
	display: inline-block;
	a {
		text-decoration: none;	
	}	
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}


/* gathers */
.feed {
	background: rgba(163,163,163,.4);
}
.gathers {
  list-style: none;
  margin: 0px 0 0 0;
  li {
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    border-bottom: 3px solid #727272;
    border-right: 1px solid #727272;
    border-left: 1px solid #ADADAD;
    border-top: 1px solid #ADADAD;
    background-color: white;
  }
}  
.activity {
	padding-bottom: 5px;
	display: block;
	letter-spacing: 0px;
	font-weight: 100;
	font-size: 1.7em;
	line-height: 1;
	color: #6C7270;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.tilt {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: 100;
	font-size: 1em;
	color: #6E7270;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.tilt-real {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: 100;
	font-size: 1.2em;
	color: #6E7270;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}

.invited {
  display: block;	
}
.details {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.left-side {
	padding-top: 15px; // matches gathers li padding
}
aside {
  textarea {
    height: 80px;
    margin-bottom: 10px;
  }
}
.edit_invitation {
	margin: 0px 0px 0px 0px;
} // for the joining and join buttons
.name-big {
	padding-bottom: 0px;
	margin-top: 5px;
	display: block;
	letter-spacing: 0px;
	font-weight: 200;
	font-size: 2em;
	line-height: 1;
	color: #6C7270;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-stats {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 1em;
	color: #6E7270;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-info-margin {
	margin-left: 10px;
}
.make-white {
	color: white;
}
.desc-front {
	color: #6C7270;
	margin-bottom: 15px;
	letter-spacing: 0px;
	font-size: 1.5em;
}
.welcome-front{
	font-weight: bold;
	margin-bottom: 0px;
}
.waitlist-front {
	margin-bottom: 0px;
	letter-spacing: 0px;
}
.hero-unit {
	margin-top: 30px;
	background: rgba(238,238,238,0.6);
	margin-left: auto;
	margin-right: auto;
	float: center;
}
.hero-unit-2 {
	padding: 20px 35px 20px 35px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	float: center;
//	background: rgba(238, 238, 238, 0.6);
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.forgot-password {
	font-size: 12px;
	line-height: 1.2em;

}
.pagination ul {
	margin-left: 10px;
}
.float-center {
	float: center;
}
#circle-big {
	width: 50px;
	height: 50px;
	background: rgba(108,196,29,1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
	text-align: center;
	font-size: 32px;
	line-height: 50px;
	a {
		text-decoration: none;	
		color: #fff;
	}
}
#circle-yes {
	display: inline-block;
	margin-bottom: 4px;
	width: 26px;
	height: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	background: rgba(108,196,29,1);	
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: rgba(108,196,29,1);	
	a {
		color: #fff;
		text-decoration: none;	
	}
}
#circle-no {
	display: inline-block;
	margin-bottom: 4px;
	width: 26px;
	height: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	background: white;	
	border-style: solid;
	border-width: 1px;
	color: rgba(108,196,29,1);
	border-color: rgba(108,196,29,1);
	a {
		color: rgba(108,196,29,1);
		text-decoration: none;	
	}
}

#expand-form {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	font-size: 40px;
	line-height: 30px;
	background: white;	
	color: #cce3f7;
	float: right;
	a {
		color: white;
		text-decoration: none;	
	}
	&:hover {
		text-decoration: none;			
	}

}
.center-span { 
	float: none;
	margin-left: auto;
	margin-right: auto; 
}
.row {
	margin-left: auto;
}

@media (max-width: 360px) {   // large screen Androids
	.container-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}
	.span4or8 {
		width: 300px;
	}
	.span4or9 {
		width: 300px;
	}
	[class*="span"] {
		margin-left: 0px;
	}
	.span3a {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.span2aor3a {
		width: 230px;
	}
	.span3aor4 {
		width: 230px;
	}

}
@media (max-width: 320px) {   // iPhone
	.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	}
	.span4or8 {
		width: 300px;
	}
	.span4or9 {
		width: 300px;
	}
	[class*="span"] {
		margin-left: 0px;
	}
	.span3a {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.span2aor3a {
		width: 230px;
	}
	.span3aor4 {
		width: 230px;
	}
}
@media (min-width: 361px) {  // desktop, tablets
	.span4or8 {
		width: 640px;
	}
	.span4or9 {
		width: 720px;
	}
	.left-side {
		[class*="span"] {
			margin-left: 0px;
		}
	}
	.span3a {
		margin-left: 5px;
		margin-right: 5px;
	}
	.span2aor3a {
		width: 145px;
	}
	.span3aor4 {
		width: 350px;
	}
}
.span3a {
	width: 230px;
	background: white;
	font-weight: 200;
	line-height: 30px;
	border-radius: 5px;

	h1 {
		font-size: 1.6em;
		letter-spacing: 0px;
		text-align: center;
		margin: 10px 7px 10px 7px;
	}
	h2 {
		margin: 10px 7px 10px 7px;
//		margin-bottom: 15px;
//		padding-left: 2px;
//		padding-right: 2px;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		font-size: 1.1em;
	}
	img {
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 2px;
	}
}
.span2a {
	width: 160px;
}
.completed {
	background: rgb(189, 189, 189);
	margin-top: 5px;
	border-bottom: 4px solid rgb(180, 180, 180);
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: none;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	display: block;
	text-align: center;
	padding: 11px 19px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased	
}
.why {
	color: black;
	background: none;
	margin-bottom: 0px;
	h2 {
		color: #636363;
	}
}
.blurb {
	color: #5F5F5F;
	text-transform: lowercase;
}
.opt {
	background: rgb(231, 231, 231);
	color: gray;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 10px;
	text-shadow: none;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
a:hover {
	text-decoration: none;
}
.in-card {
	display: block;
	background: #F5F5F5;
	color: gray;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 3px;
	margin-top: 15px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
:focus {
outline: -webkit-focus-ring-color auto 0px;
//border: 1px solid red;
}
.field_with_errors {
margin-bottom: 0px;
display: inline;
border-bottom: 1px solid red;
border-top: 1px solid red;
padding: 16px 0px 8px 0px;
}
