@import "bootstrap";

/* mixins, variables, etc. */

$mainColor: #00CCFF;//#FF7000;
$bgColor: #E1E5E7;//$mainColor;//#E7E7E7;
$otherbgColor: $mainColor;

$joinColor: $mainColor;//#F3253B;
$joinColorBorder: #AF3333;
$joinColorHover: $mainColor;//#FF001B;
$joinColorHoverBorder: #9d2d2d;

$joiningColor: white;//#F1D6D9;
$joiningColorBorder: #E5939B;
$joiningColorHover: $bgColor;//#d3979d;
$joiningColorHoverBorder: #ce848b;

$inviteColor: $mainColor;//#2DA3FF;
$inviteColorBorder: #999999;
$inviteColorHover: #008FFF;
$inviteColorHoverBorder: #6f6f6f;

$circleColor: #A5A5A5;//#F3253B;
$circleColorNo: #C9C9C9;
$sq1Color: $mainColor;
$sq2Color: #62E0FF;
$sq3Color: #B1EFFF;
$navbarColor: $mainColor;//none; //rgba(242, 248, 255, 1);
$navbarborderColor: none; // #ADCEFF;
$logofrontColor: $mainColor; //#F3253B;
$logonavbarColor: white;//$mainColor;//#F3253B;
$activityColor: #686868; //#474747;
$feedbgColor: rgba(218, 218, 218, 0.5);
$leftbgColor: rgba(255, 255, 255, 0.4);

$noActionGray: #f8f8f8;//white;//#F8F8F8;
$noActionGrayBorder: #E0E0E0;

$grayLight: #FFFFFF;
$grayLighter: #FFFFFF;
$blue: blue;

$green: #3DC900;
$red: #ff004d;

/* OG 

red: #e44556
red border: #AF3333
red hover: #C43939
red hover border: #882828 

green: #6cc41d
green border: rgba(65, 117, 18, 1)
green hover:  rgba(88, 161, 22, 1) 
green hover border: rgba(48, 87, 13, 1)

blue: #1781fb
blue border: #0D509E
blue hover: #1472DF
blue hover border: #0A3D79

activity color: #6C7270

*/


@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
	height: 100%;
}

body {
	// background-image: none; //url("background.png"); //url(https://abs.twimg.com/images/themes/theme13/bg.gif);
	// background-position: left 40px;
	background-color: $bgColor; //#cce3f7;//#B2DFDA;
	// background: -webkit-linear-gradient(0deg,#9EEBFF,$bgColor); /* For Safari */
	// background: -o-linear-gradient(0deg,#9EEBFF,$bgColor); /* For Opera 11.1 to 12.0 */
	// background: -moz-linear-gradient(0deg,#9EEBFF,$bgColor); /* For Firefox 3.6 to 15 */
	// background: linear-gradient(0deg,#9EEBFF,$bgColor); /* Standard */
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	min-height: 100%;
	color: #6C7270;
	-webkit-font-smoothing: antialiased;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;	
}

h1 {
	font-size: 2em;
	letter-spacing: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 1.2em;
	letter-spacing: 0px;
	text-align: center;
	font-weight: normal;
	color: $logonavbarColor;
	margin: 0px 15px 5px 15px;
	line-height: 1.3;
}

p {
	font-size: 1em;
	line-height: 1.7em;
}


/* header */
#logo {
	font-family: futura, Helvetica,'Montserrat Alternates','proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 2.2em;
	color: $logonavbarColor;//#FF3300;//rgba(204,227,247,1);//#fff;
//	text-shadow: 1px 1px 0 rgba(23,129,251,1);	
	text-transform: lowercase;//none;
	letter-spacing: 0px;
	font-weight: 300; //normal;
	line-height: 1;
	&:hover {
		color: $logonavbarColor;
		text-decoration: none;
//		padding-top: 3px;
	}
}
.logo-front {
	color: $logofrontColor;//#FF3300;//#0087FF ;//#fff;
//	text-shadow: -1px -1px 0 white;
	letter-spacing: -1px;
	// text-transform: lowercase;
	font-weight: 400;
	padding-top: 30px;
	font-size: 3em;
	font-family: futura, Helvetica,'Montserrat Alternates','proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
}

.navbar {
 	margin-bottom: 0px;
 	border: 0px solid white;
}
.navbar-default {
	border-radius: 0px;
	background-image: none;
	background: $navbarColor;
	border-bottom: 0px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}
.navbar-toggle {
	border: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $logonavbarColor;
}
.navbar .nav > li > a {
	color: $logonavbarColor;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	// font-size: 18px;
	// text-shadow: 0 0 0;
	// padding: 6px 0px 6px;
	// -webkit-transition: .1s ease-in background-color;
	// -webkit-font-smoothing: antialiased;
	&:hover {
			color: $logonavbarColor;
		}
}
// .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
// 	color: $logonavbarColor;
// 	background-color: transparent;
// }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: $logonavbarColor;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;	
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: $logonavbarColor;
	text-decoration: none;
	background-color: $mainColor;
	background-image: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: $logonavbarColor;
}
.navbar-nav > li > .dropdown-menu {
	background: $otherbgColor;//$mainColor;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: $logonavbarColor;
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
// .navbar .nav li.dropdown > .dropdown-toggle .caret {
// 	border-top-color: $logonavbarColor;
// 	border-bottom-color: $logonavbarColor;
// 	vertical-align: middle;
// 	&:hover {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;
// 	}
// 	&:active {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;		
// 	}
// 	&:focus {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;
// 	}
// }
// .navbar .nav li.dropdown.open > .dropdown-toggle .caret {
// 	border-top-color: $logonavbarColor;
// 	border-bottom-color: $logonavbarColor;
// 	vertical-align: middle;
// 	&:hover {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;
// 	}
// 	&:active {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;		
// 	}
// 	&:focus {
// 		color: $logonavbarColor;
// 		border-top-color: $logonavbarColor;
// 		border-bottom-color: $logonavbarColor;
// 	}
// }
// .navbar .nav li.dropdown.open.active > .dropdown-toggle {
// 	background-color: $navbarColor;//#0087FF;//rgba(228,69,69,1);
// 	color: $logonavbarColor;
// }
// .navbar .nav li.dropdown.open > .dropdown-toggle {
// 	background-color: $navbarColor;//#0087FF;//rgba(228,69,69,1);
// 	color: $logonavbarColor;	
// }
// .navbar-inner {
// 	background-color: $navbarColor;//#0087FF;//rgba(228,69,69,1); background-image: -webkit-linear-gradient(bottom, rgb(255, 82, 0) 10%, rgb(255, 10, 0) 90%);
// 	background-image: none;
// 	background-repeat: no-repeat;
// 	filter: none;
// 	border-radius: 0px;
// 	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
// 	min-height: inherit;
// 	border-top: 0px;
// 	border-right: 0px;
// 	border-left: 0px;
// 	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
// 	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
// 	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
// }


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #555;
	color: #555;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
		color: #555;
		-webkit-font-smoothing: antialiased;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0px 5px 0px;
    border-top: 1px solid #CCCCCC;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
    	border-left: 1px solid $grayLighter;
    	color: gray;
    	&:first-child {
      		padding-left: 0;
      		border: 0;
    	}
	    &:hover {
	    	text-decoration: none;
	    	color: $blue;
	    }
  	}
  	strong {
    	display: block;
  	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* forms */

form {
  margin: 0 0 0px; 
}

input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	margin-bottom: 0px;
	@include box_sizing;	
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
//  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 0px;
//  width: 100%;
  height: 40px;
}
textarea {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #ebebeb;
}

.all-wide-form {
	textarea,
	input[type="text"],
	input[type="password"],
	.uneditable-input {
		width: 100%;
	}
}

input[type="number"],
.uneditable-input {
  background-color: white;
  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 0px;
  width: 84%;
  height: 40px;
}
input[type="time"],
input[type="date"],
.uneditable-input {
  background-color: white;
  border: 0px solid #cccccc;
  padding: 10px 10px 10px 10px;
  border-radius: 0px;
  width: 49%;
  height: 40px;
}
input[type="time"],
.uneditable-input {
  float: right;
  height: 40px;
}

.datepicker {
	width: 35%;
	cursor:text;
	display: block;
}
.datepicker:-moz-placeholder {
  color: #999999;
}
.datepicker::-moz-placeholder {
  color: #999999;
}
.datepicker:-ms-input-placeholder {
  color: #999999;
}
.datepicker::-webkit-input-placeholder {
  color: #999999;
}

.timepicker {
	  width: 50%;
}
.timepicker:-moz-placeholder {
  color: #999999;
}
.timepicker::-moz-placeholder {
  color: #999999;
}
.timepicker:-ms-input-placeholder {
  color: #999999;
}
.timepicker::-webkit-input-placeholder {
  color: #999999;
}

.field-in-gather-org {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		background-color: white;//rgba(224, 243, 208, 1);
	}
	input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	background: white;//rgba(224, 243, 208, 1);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	@include box_sizing;
	}
}
.field-in-gather-no {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		background-color: white;//rgb(231, 236, 240);
	}
	input, textarea, select, .uneditable-input {
	border: 0px solid #bbb;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	background: white;//#DBEEFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	@include box_sizing;
	}
}
input, select, .uneditable-input {
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 0px;
	.invited {
		height: 60px;
	}
}
input {
//	height: auto !important;
}

.form-control {
	// width: 65% !important;
	border: 1px solid #EBEBEB;
	border-radius: 0px;	
	-webkit-box-shadow: none;//inset 0 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: none;//inset 0 0px 0px rgba(0, 0, 0, 0.0);
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: none;//inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
	box-shadow: none;//inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
}
.btn:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
}

.gather-form {
	margin: 0px 10px 0px 10px;
}

.alert {
	margin: 10px;
	background-color: #D5F5FF;
	border-radius: 10px;
	color: #0098BE;
	border-bottom: 0px solid rgba(0,0,0,.3);
	border-right: 0px;
	border-left: 0px;
	font-size: 21px;
	padding: 15px;
	font-family: futura, Helvetica;
}
#error_explanation {
	background-color: #FFb300;
	li {
		padding-bottom: 10px;
		color: #f00;
	}
}
.alert-success {
	background-image: none;
}
.alert-error {
	background: #FFb300;
	color: white;
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.btn {
	border: 0;
	border-radius: 0px;
//	padding: .9em 1.8em .8em;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 10px;
	text-shadow: none;
	font-size: 16px;
	line-height: 1;
	font-weight: 800;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.btn-large {
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-join-na {
	float: left;
	width: 50% !important;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: $mainColor;
	margin-right: -1px;
	background: white; //rgba(212,214,217,1);
	border-right: 1px solid #eeeeee;
	// border-radius: 3px;
	// width: 100px !important;
//	border-bottom: 20px solid white;
	&:hover {
		// background: $joinColorHover;
//		border-bottom: 0px solid $joinColorHoverBorder;
		color: $mainColor;
	}
}

.btn-joining-na {
	float: right;
	width: 50% !important;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: $mainColor;
	margin-right: 0px;
	background: white; //rgba(212,214,217,1);
	// border-bottom: 3px solid #00ABD6;
//	border-bottom: 20px solid white;	
	// border: 1px solid $mainColor;
	// border-radius: 3px;
	// width: 100px !important;
	&:hover {
		// background: $joiningColor; //#B1B3B8;
//		border-bottom: 0px solid $joiningColorHoverBorder; //#858A91;
		color: $mainColor;		
	}
}

.btn-join {
	float: left;
	width: 50% !important;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: $circleColorNo;
	margin-right: 0px;
	background: white;
	border-right: 1px solid #eeeeee;
//	border-bottom: 20px solid white;
	&:hover {
		// background: $joinColorHover;
//		border-bottom: 0px solid $joinColorHoverBorder;
		color: $circleColorNo;
	}
}

.btn-joining {
	float: right;
	width: 50% !important;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: $circleColorNo;
	margin-right: 0px;
	background: white;
	border-left: 1px solid #eeeeee;
//	border-bottom: 20px solid white;	
	&:hover {
		// background: $joiningColor; //#B1B3B8;
//		border-bottom: 0px solid $joiningColorHoverBorder; //#858A91;
		color: $circleColorNo;		
	}
}

.fake-joining {
	float: left;
	width: 50%;
	background: white;
	// border: 3px solid $circleColorNo;
	border-radius: 0px;
	box-shadow: none;
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: none;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	text-align: center;
	padding: 10px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased	
}

.fake-passing {
	float: right;
	width: 50%;
	background: white;
	// border: 3px solid $circleColorNo;
	border-radius: 0px;
	box-shadow: none;
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: none;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	text-align: center;
	padding: 10px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased	
}
.btn-update {
	float: left;
	width: 100% !important;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: white;
	margin-right: 0px;
	background: $mainColor; //rgba(212,214,217,1);
	border-bottom: 15px solid $noActionGray;
//	border-bottom: 20px solid white;
	&:hover {
		// background: $joinColorHover;
//		border-bottom: 0px solid $joinColorHoverBorder;
		color: #fff;
	}
}

.btn-invite {
	background: $inviteColor;
	// border-bottom: 0px solid $inviteColorBorder;
	margin-bottom: 0px;
	border: 15px solid $noActionGray;
	border-top: 0px;
	&:hover {
		// background: $inviteColorHover;
		// border-bottom: 0px solid $inviteColorHoverBorder;
		color: #fff;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
}
.btn-new-user {
	background: $inviteColor;
	// border-bottom: 0px solid $inviteColorBorder;
	margin-bottom: 0px;
	border: 0px solid $noActionGray;
	border-top: 0px;
	&:hover {
		// background: $inviteColorHover;
		// border-bottom: 0px solid $inviteColorHoverBorder;
		color: #fff;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
}
.btn-update-org {
	background: $inviteColor;//#8A8A8A;//rgba(156, 211, 107, 1);
	border-bottom: 0px solid #AF3333;
//	font-size: 14px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	&:hover {
		background: $inviteColorHover;
		border-bottom: 0px solid #882828;
		color: #fff;
	}
}
.btn-update-no {
	background: $inviteColor;//#8A8A8A;//#77C2FF;
	border-bottom: 0px solid #AF3333;
//	font-size: 14px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	&:hover {
		background: $inviteColorHover;
		border-bottom: 0px solid #882828;
		color: #fff;
	}
}
.btn-poll {
	-webkit-font-smoothing: antialiased;
//	border-collapse: separate;
	box-sizing: border-box;
	color: $inviteColor;
	display: table-cell;
	height: 40px;
	line-height: 14px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
//	width: 43px;
	border: 0px 0 0 0;
	background: white;
	text-transform: none;
	letter-spacing: 0px;
	margin-right: 0px;
	padding-right: 10px;
	text-shadow: none;
	font-size: 14px;
	padding: 0px 10px 0px 10px;
}
.caret {
	vertical-align: middle;
	border-top: 4px solid rgba(108,196,29,1);	
	border-right: 4px solid transparent;	
	border-left: 4px solid transparent;	
}
.no-link-decoration {
	display: inline-block;
	a {
		text-decoration: none;	
	}	
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}


/* gathers */
.feed {
//	background: $feedbgColor;
	border-radius: 0px;
	margin-top: 0px;
	border: 0px solid rgb(199, 211, 231);
	margin-left: 10px;
	margin-right: 10px;
}
.gathers {
  list-style: none;
  margin: 0px 0 0 0;
  padding-left: 0px;
  li {
  	word-break: break-word;
    margin: 0px 0px 0px 0px;
//    padding: 15px 15px 15px 15px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.35);
    border-right: 0px solid #727272;
    border-left: 0px solid #ADADAD;
    border-top: 0px solid #ADADAD;
//    background-color: white;
    border-radius: 0px;
 //    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	// -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
}  
.title-table {
	background: $noActionGray;
	width: 100%;
	margin-top: -5px;
}
.who-table {
	background: $noActionGray;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
td {
	padding: 0px;
}
.td-activity {
	width: 60%;
	vertical-align: top;
}
.td-info {
	width: 40%;
	vertical-align: top;
	text-align: right;
	padding: 12px 0px 0px 0px;
	word-break: break-all;
	.fa {
		color: #C2C2C2;
	}
}
.activity {
	padding: 0px 0px 0px 15px;
	display: block;
	letter-spacing: 0px;
	font-weight: 400;
	font-size: 28px;
	// text-transform: uppercase;
	line-height: 1.1;
	color: $activityColor; 
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	a {
		text-decoration: none;	
	}	

}
.gather-date {
	// border-bottom: 1px solid #EEE;
	padding: 3px 15px 3px 0px;
	color: $activityColor; 
	line-height: 1;
}
.gather-time {
	// border-bottom: 1px solid #EEE;
	padding: 3px 15px 3px 0px;
	color: $activityColor; 
	line-height: 1;
}
.gather-location {
	// border-bottom: 1px solid #EEE;
	padding: 3px 15px 3px 0px;
	color: $activityColor; 
	line-height: 1;
}
.tilt-real {
	padding: 5px 15px 5px 15px;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: 400;
	font-size: 1.2em;
	color: #757575;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	background: white;
}
.in-card-p {
	display: block;
	padding: 0px 15px 0px 15px;
	line-height: 1.5em;
	margin: 0 0 0 0px;
	color: #818181;
}
.organized-by {
	padding: 15px 15px 15px 15px;
	color: #818181;
	a {
		color: $mainColor !important;
		&:hover {
			color: $mainColor;
		}
	}
}
.user_avatars {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 25px;
	background: $noActionGray;
}

.invited {
  display: block;
  background: white;
}
.details {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.left-side {
	padding-top: 12px; // matches gathers li padding
	background: $leftbgColor;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
//	border: 1px solid rgb(199, 211, 231); can't have border bc responsive won't work correctly
}
aside {
  textarea {
    height: 60px;
    margin-bottom: 10px;
  }
}
.edit_invitation {
	margin: 0px 0px 0px 0px;
} // for the joining and join buttons
.name-big {
	padding-bottom: 0px;
	margin-top: 0px;
	display: block;
	letter-spacing: 0px;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 1;
	color: #6C7270;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-stats {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica,'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 1em;
	color: #757575;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
.user-info-margin {
	margin-left: 0px;
	text-align: center;
	color: #999999;
}
.make-white {
	color: white;
}
.desc-front {
	letter-spacing: 0px;
	font-size: 1.6em;
	a {
		font-size: 16px;
	}
}
.welcome-front{
	font-weight: bold;
	margin-bottom: 0px;
}
.waitlist-front {
	margin-bottom: 0px;
	letter-spacing: 0px;
}
.hero-unit {
	margin-top: 30px;
	background: rgba(238,238,238,0.6);
	margin-left: auto;
	margin-right: auto;
	float: center;
}
.hero-unit-2 {
	padding: 20px 35px 20px 35px;
//	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	float: center;
//	background: rgba(238, 238, 238, 0.6);
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.forgot-password {
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	padding: 5px 15px 0px 15px;
	color:	#888888;
	a {
		color:	#888888;
	}
}
.pagination {
  padding: 1em;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  li {
  	float: left;
  }
  ul {
  	list-style-type: none;
  	padding: 0px;
  }
}
.pagination a, .pagination span {
    padding: 0.2em 0.3em; 
}
.pagination .disabled {
    color: #aaaaaa; 
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: none;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
}
.pagination a {
    text-decoration: none;
    color: $circleColor; 
}
.pagination a:hover, .pagination a:focus {
      text-decoration: none; 
}

.float-center {
	float: center;
}
#circle-big {
	width: 50px;
	height: 50px;
	background: $mainColor;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 25px;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 20px;
	a {
		text-decoration: none;	
		color: white;
	}
}
#circle-yes {
	display: inline-block;
	margin-bottom: 4px;
	// width: 28px;
	height: 22px;
	padding: 0px 7px 0px 7px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	background: $mainColor;	
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: $mainColor;	
	letter-spacing: 0px;
	a {
		color: white;
		text-decoration: none;	
	}
}
.circle-yes-text {
	float: right;
	font-weight: bold;
	display: inline-block;
	min-width: 28px;
	height: 28px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	background: #ffcc00;	
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: #ffcc00;	
	letter-spacing: 0px;
	padding: 0px 7px 0px 7px;
	a {
		color: #fff;
		text-decoration: none;	
	}
}
#circle-na {
	display: inline-block;
	margin-bottom: 4px;
	// width: 28px;
	height: 22px;
	padding: 0px 7px 0px 7px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	background: $circleColorNo;	
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: $circleColorNo;
	letter-spacing: 0px;
	a {
		color: white;
		text-decoration: none;	
	}
}
.circle-na-text {
	float: right;
	font-weight: bold;
	display: inline-block;
	min-width: 28px;
	height: 28px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	background: $circleColorNo;	
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: $circleColorNo;
	letter-spacing: 0px;
	padding: 0px 7px 0px 7px;
	a {
		color: $circleColor;
		text-decoration: none;	
	}
}
#circle-no {
	text-decoration:line-through;
	display: inline-block;
	margin-bottom: 4px;
	// width: 28px;
	height: 22px;
	padding: 0px 7px 0px 7px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	background: white;	
	border-style: solid;
	border-width: 1px;
	color: $circleColorNo;
	border-color: $circleColorNo;
	letter-spacing: 0px;
	a {
		color: $circleColorNo;
		text-decoration: none;	
	}
}
#circle-nav {
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	border-style: solid;
	border-width: 1px;
	color: white;
	border-color: $circleColor;	
	background: $circleColor;	
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
//	background: white;	
//	color: $circleColor;
//	border-color: $circleColor;
	a {
		color: $circleColor;
		text-decoration: none;	
	}
}
.square-1 {
	float: right;
	padding: .3em .1em;
	// min-width: 26px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	// background: $sq1Color;	
	// border: 1px solid $sq1Color;
	color: white;
	letter-spacing: -2px;
	margin-left: 1px;
	a {
		color: #3DC900;//#fff;
		text-decoration: none;	
	}
}
.square-2 {
	float: right;
	padding: .3em .1em;
	// min-width: 26px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	// background: $sq2Color;	
	// border: 1px solid $sq2Color;
	color: white;
	letter-spacing: -2px;
	margin-left: 1px;
	a {
		color: gold;//#fff;
		text-decoration: none;	
	}
}
.square-3 {
	float: right;
	padding: .3em .1em;
	// min-width: 26px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	// background: $sq3Color;	
	// border: 1px solid $sq3Color;
	color: white;
	letter-spacing: -2px;
	margin-left: 1px;
	a {
		color: #ff004d;//#fff;
		text-decoration: none;	
	}
}
.square-4 {
	float: right;
	padding: .3em .1em;
	// min-width: 26px;
	display: inline-block;
	text-decoration: line-through;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	// background: #FFFFFF;	
	// border: 1px solid #686868;
	color: #686868;
	letter-spacing: -2px;
	margin-left: 1px;
	a {
		color: #686868;
		text-decoration: none;	
	}
}
#expand-form {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	font-size: 40px;
	line-height: 30px;
	background: white;	
	color: #DFDFDF;
	float: right;
	a {
		color: white;
		text-decoration: none;	
	}
	&:hover {
		text-decoration: none;			
	}

}
.center-span { 
	float: none;
	margin-left: auto;
	margin-right: auto; 
	border-radius: 3px;
	// background: $noActionGray;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.container-fluid {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
// @media (max-width: 360px) {   // large screen Androids
// 	.container-fluid {
// 		padding-right: 30px;
// 		padding-left: 30px;
// 	}
// 	.span4or8 {
// 		width: 300px;
// 	}
// 	.span4or9 {
// 		width: 300px;
// 	}
// 	[class*="span"] {
// 		margin-left: 0px;
// 	}
// 	.span3a {
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		margin-bottom: 20px;
// 	}
// 	.span2aor3a {
// 		width: 230px;
// 	}
// 	.span3aor4 {
// 		width: 230px;
// 	}

// }
// @media (max-width: 320px) {   // iPhone
// 	.container-fluid {
// 	padding-right: 10px;
// 	padding-left: 10px;
// 	}
// 	.span4or8 {
// 		width: 300px;
// 	}
// 	.span4or9 {
// 		width: 300px;
// 	}
// 	[class*="span"] {
// 		margin-left: 0px;
// 	}
// 	.span3a {
// 		margin-left: 0px;
// 		margin-right: 0px;
// 		margin-bottom: 20px;
// 	}
// 	.span2aor3a {
// 		width: 230px;
// 	}
// 	.span3aor4 {
// 		width: 230px;
// 	}
// }
// @media (min-width: 361px) {  // desktop, tablets
// 	.span4or8 {
// 		width: 640px;
// 	}
// 	.span4or9 {
// 		width: 720px;
// 	}
// 	.left-side {
// 		[class*="span"] {
// 			margin-left: 0px;
// 		}
// 	}
// 	.span3a {
// 		margin-left: 5px;
// 		margin-right: 5px;
// 	}
// 	.span2aor3a {
// 		width: 145px;
// 	}
// 	.span3aor4 {
// 		width: 350px;
// 	}
// }
// .span3a {
// 	width: 230px;
// 	background: white;
// 	font-weight: 200;
// 	line-height: 30px;
// 	border-radius: 5px;

// 	h1 {
// 		font-size: 1.6em;
// 		letter-spacing: 0px;
// 		text-align: center;
// 		margin: 10px 7px 10px 7px;
// 	}
// 	h2 {
// 		margin: 10px 7px 10px 7px;
// //		margin-bottom: 15px;
// //		padding-left: 2px;
// //		padding-right: 2px;
// 		-webkit-font-smoothing: antialiased;
// 		text-align: center;
// 		font-size: 1.1em;
// 	}
// 	img {
// 		padding-left: 2px;
// 		padding-right: 2px;
// 		padding-top: 2px;
// 	}
// }
// .span2a {
// 	width: 160px;
// }
.completed {
	background: $joiningColor;
	border-bottom: 0px solid rgb(180, 180, 180);
	border-radius: 0px;
	box-shadow: none;
	color: $circleColorNo;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: none;
	font-size: 16px;
	line-height: 1;
	display: block;
	text-align: center;
	padding: 10px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased	
}
.why-all {
	background: $noActionGray;
	color: #888888;
	padding: 20px 15px 10px 15px;
	.fa {
		padding: 0px 10px 0px 0px;
		float: left;
		width: 70px;
		color: $mainColor;
	}
}
.why-section {
	min-height: 70px;
	
}
.why-title {
	font-size: 1.7em;
	letter-spacing: 0px;
	// margin-top: 15px;
	// text-align: center;
	font-weight: 800;
	margin-bottom: 2px;
	margin-left: 70px;
	line-height: 1;
}
.why-desc {
	font-size: 1.2em;
	letter-spacing: 0px;
	// text-align: center;
	// font-weight: normal;
	// margin: 0px 15px 5px 15px;
	line-height: 1.3;
	margin-left: 70px;
	margin-bottom: 20px;
}
.blurb {
	color: #888888;
	// text-transform: lowercase;
	margin-bottom: 30px;
}
.signup-login {
	color: $logonavbarColor;
	font-size: 1.6em;
	margin: 40px 0px 10px 0px;
}
.opt {
	background: $leftbgColor;
	color: gray;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 10px;
	text-shadow: none;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
}
a:hover {
	text-decoration: none;
}
:focus {
outline: -webkit-focus-ring-color auto 0px;
//border: 1px solid red;
}
.field_with_errors {
	border-left: 3px solid red;
	border-right: 3px solid red;
}
.page_heading {
	letter-spacing: 0px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	line-height: 1.2em;
}
#why-put-in-number {
	line-height: 1.4em;
	background: #EDF7FF;
	padding: 10px;
	border-radius: 0px;
}
.invite_more {
	border-top: 1px solid #ECECEC;
}
.whitebg {
	background-color: white;
}
.input-group {
	// border-top: 1px solid #EEE;
	width: 100%;
	background: $noActionGray;
	padding: 15px 15px 10px 15px;
	color: $circleColor;
}
.name-select-title {
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	background: white;
	text-transform: uppercase;
	hr {
		margin-top: 2px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #E7E7E7;
	}
}
.name-select {
	display: inline-block;
	padding: 3px 4px 2px 3px;
	color: #777777;//$inviteColor;
	font-weight: 200;
	cursor: pointer;
	min-width: 135px;
}
.name-select-blurb {
	padding: 3px 0px 3px 0px;
	text-align: center;
	display: block;
	color: #AAA;
	cursor: default
}
.name-select-area {
	background: white;//#EEE;
	padding: 10px 10px 0px 10px;
	font-size: 14px;
	margin: 0px 0 0 0;
	width: 100%;
//	border-top: 1px solid rgb(224, 224, 224);
}
.name-select-area-feed {
	background: white;//#EEE;
	padding: 0px 0px 8px 0px;
	font-size: 14px;
	margin: 0px 0 0 0;
	width: 100%;
//	border-top: 1px solid rgb(224, 224, 224);
	.fa-check-square-o {
		display: none;
	}
	.selectable .ui-selected {
		.fa-check-square-o {
			display: inline;
		}
		.fa-square-o {
			display: none;
		}
	}
}
.name-select-invite {
	font-size: 14px;
	background-color: #FFFFFF;
	margin: 0px 0 0 0;
	padding-right: 15px;
	width: 100%;
	background-color: white;
	overflow: hidden;
}
.new-select-invite {
	font-size: 16px;
    font-weight: bold;
}
.select-item {
	margin: 0 0 0 15px;
	float: left;
	background-color: white;
	color: #757575;
	padding: .3em 0em;
	font-size: 1.1em;
}

.name-results-title {
	padding: 10px 15px 0px 15px;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 18px;
	color: #818181;
	text-transform: uppercase;
	hr {
		margin-top: 0px;
		margin-bottom: 1px;
		border: 0;
		border-top: 1px solid #818181;
	}
}
.name-results-invite {
	font-size: 14px;
	margin: 0px 0 0 0;
	padding-right: 15px;
	width: 100%;
	background-color: $noActionGray;
	overflow: hidden;
	.fa-smile-o {
		float: right;
		padding: .3em 0.1em;
	}
	.fa-meh-o {
		float: right;
		padding: .3em 0.1em;
	}
	.fa-frown-o {
		float: right;
		padding: .3em 0.1em;
	}
	.fa-ban {
		float: right;
		padding: .3em 0.1em;
	}
}
.results-item {
	margin: 0 0 0 15px;
	float: left;
	background-color: $noActionGray;
	color: #757575;
	padding: .4em 0em;
	font-size: 1.1em;
}
.results-part {
	padding-bottom: 10px;
}
.radio-select-area {
	// display: inline;
	background: $noActionGray;
	font-size: 14px;
	margin: 0px 0px 0 0;
	// float: right;
	.ui-buttonset .ui-button {
		margin-right: -.25em;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		color: $mainColor !important;
		background-color: $noActionGray !important;
		margin-bottom: 0px;
		&:hover {
			color: #212121;
		}
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		// color: #212121;
		background: white !important;
		color: #555555 !important;
		font-weight: 600 !important;
		border-radius: 20px;
		border: 1px solid #eeeeee !important;
	}
	.ui-button-text-only .ui-button-text {
		padding: 2px 5px !important;
		font-size: 23px;
	}
}
.fa-smile-o {
	color: #3DC900;
}
.fa-meh-o {
	color: gold;
}
.fa-frown-o {
	color: #ff004d;	
}
.fa-ban {
	color: black;
}
.fa-check {
	margin-bottom: -1px;
}
.min-friends {
	.radio-select-area {
		.ui-button-text-only .ui-button-text {
			padding: 8px !important;
			font-size: 18px;
			min-width: 37px;
		}
	}
}
.fa-question-circle {
	color: #c7c7c7 !important;
	a {
	color: #c7c7c7 !important;
	}
}
.selectable .ui-selecting { background: white; }
.selectable .ui-selected { background: white; color: black; }
.selectable { list-style-type: none; margin: 0px 0 0 0; padding: 0; }
.selectable li { margin: 3px 0 0 0; }

.ui-buttonset {
	display: inline;
	margin-right: 0px !important;
	padding: 0px 0px 0px 0px;
}
.misc-actions {
	padding: 0px 15px 0px 15px;
	background: $noActionGray;
	font-size: 14px;
	color: $mainColor;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.misc-actions-each {
    display:inline-block;
    width:22%;
    margin:0;
    padding:0;
    text-align:center;
}
.all-tabs {
	.ui-widget-content {
		border: 0px solid #aaaaaa !important;
		padding: 0 !important;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.ui-tabs .ui-tabs-nav {
		padding: 0 !important;
	}
	.ui-widget-header {
		border: 0px solid #aaaaaa !important;
		background: $noActionGray !important;
	}
	.ui-tabs .ui-tabs-nav li {
		display:inline-block !important;
	    width:25% !important;
	    margin:0 !important;
	    padding:0 !important;
	    text-align:center !important;
	}
	.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
		color: #6DCDE5 !important;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: $noActionGray;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		background: white;
		// font-weight: bold;
		// border-top: 1px solid $mainColor;
		font-weight: 800;
	}
	a:focus {
		outline: none;
	}
}
.join-form {
	padding-bottom: 5px;
	padding-top: 5px;
	// padding-left: 15px;
	// padding-right: 15px;
	background: white;
	// border-top: 1px solid #EBEBEB;
	// border-bottom: 1px solid #EBEBEB;
	overflow: auto;
	// border-top: 1px solid $noActionGrayBorder;
	// border-bottom: 1px solid $noActionGrayBorder;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.join-form-done {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background: $noActionGray;
	overflow: auto;
}
.tab-form {
	padding-bottom: 15px;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	background: white;
	overflow: auto;
}
.results-form {
	// padding-top: 15px;
	background: $noActionGray;
	.fa-trophy {
		color: gold;
	}
}
.seen {
	padding: 0px 15px 10px 15px;
	background: $noActionGray;
	font-size: 14px;
}
.calinvite-form-title {
	padding: 20px 15px 0px 15px;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	background: $noActionGray;
	color: $mainColor;
	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		border: 0;
		border-top: 1px solid $mainColor;
	}
}
.new-activity-title {
	padding: 0px 0px 0px 10px;
//	background: $noActionGray;
	font-size: 21px;
	color: $mainColor;
	border-bottom: 1px solid $mainColor;
}
.calinvite-form {
	padding: 0 15px 0 15px;
	background: #f8f8f8;
	.datepicker {
	  width: 55%;
	}
}
.d-effect {
	width: 100%;
	height: 0;
	border-top: 10px solid transparent;// 20px solid rgba(0, 0, 0, 0.5);
	// border-left: 20px solid transparent;
	// border-right: 20px solid transparent;
}
.already-completed {
	padding: 10px 15px 0px 15px;
	color: #AAAAAA;
}
.name-select-link {
	display: block;
	padding: 3px 0px 2px 0px;
	color: $activityColor;
	text-align: center;
}
#whos-invited {
	p {
		margin: 0px;
	}
}
.under-button-text {
	text-align: center;
	padding: 5px 0px 0px 0px;
}
.page-title {
	font-size: 36px;
	text-align: center;
	font-weight: 400;
	text-transform: capitalize;
	color: $mainColor;
	padding: 15px 0px 10px 0px;
	font-family: futura, Helvetica;
	input {
		width: 100%;
	}
}
.side-padding-5 {
	padding: 0px 5px 0px 5px;
	background: white;
}
.form-300 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.page-title-2 {
	color: #888888;
	background: $noActionGray;
	padding-top: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
}
.ui-tabs .ui-tabs-nav li a {
	float: none !important;
	display: block;
	padding: 0.5em 0.5em;
	font-size: 12px;
}
.gen_link-form {
	padding: 0px 5px 8px 5px !important;
	margin: 0px;
	height: 20px !important;
	text-align: center;
	width: 118px;
	cursor:text;
}
#sign_in {
	display: block;
}
.email_signup {
	font-size: 14px;
	margin: 5px 0px 0px 0px;
	display: block;
	width: 300px;
	text-align: left;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background: $noActionGray;
	font-weight: 500;
	line-height: 2.7em;
}
.fa-envelope {
	padding: 0px !important;
	float: none !important;
	color: #428bca !important;
	width: auto !important;
}
.have-account {
	font-size: 16px;
	color: #888888;
	margin-top: 10px;
	text-align: center;
	padding-bottom: 30px;
}
.signup-phone {
	float: left;
	width: 70%;
	font-size: x-large;
	input {
		height: 56px !important;
	}
}

.signup-phone-btn {
	height: 56px;
	width: 30% !important;
	margin: 0px;
	background: $inviteColor;
	margin-bottom: 5px;
	border: 10px solid white;
}
.bullets {
	color: #6c7270;
	font-size: 16px;
	margin-bottom: 20px;
	ul {
		-webkit-padding-start: 20px;
		margin-bottom: 5px;
	}
	li {
		margin-bottom: 0.5em;
	}
	p {
		margin-bottom: 0.1em;
		font-weight: 800;
		font-size: 21px;
	}
}
.fb-facepile {
	position: static !important;
    bottom: 15px;
    margin-top: 50px;
    float: inherit;
	width: 300px !important;
	margin-left: auto;
	margin-right: auto;
	display: inherit !important;
}
.new-tabs {
	// margin-top: 15px;
	margin-bottom: 15px;
	.ui-widget-content {
		border: 0px solid #aaaaaa !important;
		padding: 0 !important;
	}
	.ui-tabs .ui-tabs-nav {
		padding: 0 !important;
	}
	.ui-widget-header {
		border: 0px solid #aaaaaa !important;
		background: white !important;
	}
	.ui-tabs .ui-tabs-nav li {
		display:inline-block !important;
	    width:100% !important;
	    margin:0 !important;
	    padding:0 !important;
	    text-align:center !important;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
		color: #666666 !important;
		background: #f8f8f8 !important;
	}
	.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
		color: $mainColor !important;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: white;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		background: white;
		// font-weight: bold;
		// border-top: 1px solid $mainColor;
	}
	a:focus {
		outline: none;
	}
}
.each-new-tab {
	padding: 0px 15px 0px 15px;
	background: $noActionGray;
	font-size: 14px;
	color: $mainColor;
}
.your-feed-header {
	font-size: 1.5em;
	color: #a7a7a7;
	/* text-transform: uppercase; */
	letter-spacing: 1.5px;
	text-align: center;
	font-family: futura, Helvetica;
	margin-bottom: 5px;
}
.invited-by {
}
.td-invited-by {
	background: #f8f8f8;
	padding: 10px 15px 0px 15px;
	color: #A3A3A3;
	font-weight: 200;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	a {
		font-weight: 500;
		color: #a7a7a7;
	}
}
.td-status {
	padding: 15px 15px 0px 0px;
}
.list-item-activity {
	padding: 0px 15px 10px 15px;
	background: $noActionGray;
	margin-bottom: 10px;
	font-size: 21px;
	color: #747474;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	.fa {
		color: #CCCCCC;
		margin-right: 10px;
	}	
}
.form-label {
	font-size: 20px;
	color: gray;
}	
#ga-new-gather-tab {
	font-size: 18px;
	border-right: 1px solid #eeeeee;
	font-family: futura, Helvetica;
}
#ga-new-list-tab {
	font-size: 18px;
	font-family: futura, Helvetica;
}
.new_user {
	padding-left: 3px;
	padding-right: 3px;
}
.lists {
	background: $noActionGray;
	border-radius: 3px;
	padding-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	li {
		padding: 5px 15px 5px 0px;
		font-size: 18px;
		color: #747474;
	}
}
.new-user-bg {
	background: $noActionGray;
	padding-top: 20px;
	text-align: center;
	h3 {
		margin-top: 0px;
	}
}
.modal-dialog {
	max-width: 1000px;
	width: auto;
}
.invite-modal {
	.modal-dialog {
		max-width: 800px;
	}
}
.modal-lg {
	.modal-body {
		border-radius: 10px;
		padding: 10px;
		background: $noActionGray !important;
	}
}
.modal {
	color: black;
	font-family: Helvetica;
	.modal-header {
		background: $noActionGray;
		color: #888888;
		padding-bottom: 10px;
		// border-bottom: px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.modal-body {
		background: white;
		padding: 10px;
	}
	.modal-body-text {
		font-size: 21px;
		line-height: 1.2;
		color: #222222;
		margin-bottom: 5px;
	}
	// .share-button {
	// 	background: $mainColor;
	// 	display: inline-block;
	// 	padding-top: 7px;
	// 	padding-bottom: 5px;
	// 	padding-left: 9px;
	// 	padding-right: 9px;
	// 	margin-bottom: 0px;
	// 	margin-right: 2px;
	// 	font-size: 12px;
	// 	color: white;
	// 	font-weight: 600;
	// 	border-radius: 3px;
	// 	.fa {
	// 		font-size: 14px;
	// 	}
	// }
	// .fb {
	// 	background: #3b5998;
	// 	img {
	// 		vertical-align: top;
	// 		height: 15px;
	// 		margin-right: 7px;
	// 	}
	// }
	.invited-name {
		color: #858585;
		font-size: 16px;
		margin-left: 0px;
		.fa {
			color: #cecece;
		}
	}
	.invited-name-title {
		font-weight: 600;
		color: #858585;
		font-size: 16px;
	}
	.invite-more-friends {
		font-size: 24px;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 0px 10px 0px 10px;
	}
	.alert {
		padding: 0px 10px 5px 10px !important;
		margin: 5px 0px 15px 0px;
		background-color: transparent;
		padding: 0px;
		border: 0px;
		color: $mainColor;
		text-align: left;
		font-weight: 600;
		font-size: 16px;
		box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.25), 0 0px 0px rgba(0, 0, 0, 0.05);
	}
	.modal-min {
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
		color: #a5a5a5;
		display: block;
		font-size: 12px;
	}
	.modal-footer {
		padding: 15px;
		margin-top: 0px;
		text-align: left;
		border-top: 1px solid #e5e5e5;
		background: $noActionGray;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.invite-column {
	padding: 0px 10px 0px 10px;
	}
	.done-btn {
		border: 1px solid #aaaaaa;
		color: #4E4E4E;
		text-transform: none;
		border-radius: 3px;
		background: white;
		font-weight: 400;
		letter-spacing: 0px;
		float: right;
	}
}
.add-by-text-phone {
	// float: left;
	// font-size: 16px;
	input {
		border: 1px solid #E2E2E2;
		// width: 192px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		height: 35px;
	}
}
.add-by-text-phone-disabled {
	float: left;
	font-size: 16px;
	input {
		border: 1px solid #E2E2E2;
		width: 192px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		height: 35px;
		background: $noActionGray;
	}
}
.add-by-phone-btn {
	width: 45px !important;
	// height: 35px !important;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	// display: inline;
	// float: left;
	text-transform: capitalize;
	background: $mainColor;
	letter-spacing: 0px;
	margin-left: -1px;
	margin-right: 0px;
}
.add-by-phone-btn-disabled {
	width: 45px !important;
	// height: 35px !important;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	// display: inline;
	// float: left;
	text-transform: capitalize;
	background: #cccccc;
	letter-spacing: 0px;
	margin-left: -1px;
	margin-right: 0px;
}
.suggestion-link {
	font-size: 14px;
	display: inline;
	margin-left: 12px;
	color: $mainColor;
}
.quick-suggestions {
	margin-bottom: 5px;
	background: #EEEEEE;
	padding: 10px;
	border-radius: 5px;
	li {
		line-height: 1.3;
		margin-bottom: 5px;
	}
}
.how_works {
	font-size: 16px;
	text-align: center;
	line-height: 30px;	
	color: $mainColor;
}
.or-invite {
	margin-bottom: 5px;
	color: #4D4D4D;
}
.not-logged-in-800 {
	max-width: 800px !important;
	margin-left: auto;
	margin-right: auto;
}
.not-logged-in-900 {
	max-width: 900px !important;
	margin-left: auto;
	margin-right: auto;
}
.not-logged-in-1000 {
	max-width: 1000px !important;
	margin-left: auto;
	margin-right: auto;
}
.main-blurb {
	color: $logofrontColor;//#FF3300;//#0087FF ;//#fff;
	letter-spacing: -1px;
	font-weight: 400;
	padding-top: 50px;
	font-size: 28px;
	font-family: futura, Helvetica,'Montserrat Alternates','proxima-nova',Proxima Nova,'Helvetica Neue',sans-serif;
	line-height: 1.2;
	// text-align: left;
	padding-bottom: 40px;
	text-align: left;
}
#changeText {
	// text-decoration: underline;
	font-weight: 100 !important;
	font-family: Helvetica;
	line-height: 1.2;
	font-size: 26px;
	letter-spacing: -0.5px;
	margin-bottom: 15px;
}
#sampleimg {
	width: 100%;
	margin-top: 20px;
}
.margin-top-40 {
	margin-top: 40px;
}
.bg-white {
	background: white;
}
.bg-f8 {
	background: $noActionGray;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px; 
	padding-left: 0px;
}
.padding-lr-15 {
	padding-right: 15px; 
	padding-left: 15px;
}
.step {
	font-size: 21px;
	font-weight: 200;
	vertical-align: middle;
	padding-bottom: 20px;
	text-align: center;
	color: #00AFDB;
	img {
		padding-top: 10px;
		padding-bottom: 40px;
		width: 210px;
	}
}
.why {
	p {
		color: #888888;
		text-align: left;		
		font-size: 16px;
	}
	.why-header {
		font-size: 28px;
		font-weight: 200;
		vertical-align: middle;
		padding-top: 50px;
		padding-bottom: 10px;
		text-align: left;
		color: #00AFDB;	
		line-height: 1.2;
	}
	img {
		padding-top: 0px;
		padding-bottom: 10px;
		width: 290px;
		margin-left: 15px;
		margin-right: 15px;
	}
}
.step-header {
	font-size: 28px;
	font-family: futura, Helvetica;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.share-button {
		width: 100%;
		cursor: pointer;
		background: $mainColor;
		display: inline-block;
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 9px;
		padding-right: 9px;
		margin-bottom: 5px;
		margin-right: 2px;
		font-size: 12px;
		color: white;
		font-weight: 600;
		border-radius: 3px;
		.fa {
			font-size: 14px;
		}
	}
.fb {
	background: #3b5998;
	img {
		vertical-align: top;
		height: 15px;
		margin-right: 7px;
	}
}
.fb-signup {
	background: #3b5998;
	width: 100%;
	cursor: pointer;
	padding-top: 9px;
	padding-bottom: 5px;
	font-size: 18px;
	color: white;
	font-weight: 600;
	border-radius: 3px;
	height: 45px;
	text-align: left;
	img {
		vertical-align: top;
		height: 27px;
		margin-right: 24px;
		margin-left: 8px;
	}
}
.invite-column {
	padding: 0px 10px 0px 10px;
	background: white;
}
.tab-form-top {
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
}
.border-right {
	border-right: 1px solid #E7E7E7;
}
.border-left {
	border-left: 1px solid #E7E7E7;
}
.add_phone_line {
	width: 100%;
}
.text-form {
	.input-group {
		padding: 0px;
	}
	input {
		height: 35px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;	
	}
}
.margin-top-5 {
	margin-top: 5px;
}
.for-mobile-only {
	display: none !important; 
}
.for-non-mobile-only {
	display: block !important;
}
.min-height-500 {
	min-height: 500px;
}
.padding-top-bottom-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
@media only screen and (max-device-width: 480px) {
	.spacing-for-mobile {
		margin-top: 25px;
	}
	.border-right {
		border-right: 0px;
	}
	.border-left {
		border-left: 0px;
	}

	.for-mobile-only {
		display: block !important;
	}
	.for-non-mobile-only {
		display: none !important;
	}
	.fb-send {
		margin-bottom: 5px;
	}
	.margin-top-40 {
		margin-top: -30px !important;
	}
	.min-height-500 {
		min-height: 0px !important;
	}
	.main-blurb {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.padding-top-bottom-60 {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
}

/* define mobile specific styles come here */
}
.no-friends {
	color: #888888;
}
.new-user-gather {
	margin: 10px;
	h3 {
		padding: 15px;
		background: white;
		margin: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		text-align: center;
		font-size: 16px;
		border-bottom: 1px solid #DDDDDD;
		color: #666666;
	}
	.btn-invite {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.one-row {
	min-height: 300px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}