<div id="gather_form" style="display:none;">
	<h2>Create bloon</h2>
	<%= render 'gathers/new' if signed_in? %>
</div>

<ol class="gathers">
	<%= render 'shared/feed_item', :feed_item => @gather %>
</ol>
<%= render 'static_pages/how_invited', :feed_item => @gather %>