<footer class="footer">
  <small>
    Please send us feedback: <a href="mailto:hello@bloon.us">hello@bloon.us</a>
  </small>
<!--   <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
 -->
</footer>